In [1]:
import pandas as pd
df=pd.read_excel("energy use.xlsx")
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-07-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.000000,2014.000000,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,719.005743,734.218297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,306.314052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2593.835487,2686.376196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,631.919735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,832.572236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
index_list = list(range(0,2))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.000000,2014.000000,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,719.005743,734.218297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,AFG,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Africa Western and Central,AFW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,612.821698,602.378095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,306.314052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2593.835487,2686.376196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,631.919735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,832.572236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
index_list = list(range(1,14))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Austria,AUT,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,1546.261468,1554.034906,1675.873621,1823.995225,1855.085155,1851.843564,...,3919.044419,3763.327903,3800.299420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Azerbaijan,AZE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1474.003433,1502.078168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Burundi,BDI,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,306.314052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2593.835487,2686.376196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,631.919735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,832.572236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
index_list = list(range(2,69))
df.drop(df.index[index_list],inplace=True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,3329.410163,...,2987.700589,2777.310987,2764.516671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Georgia,GEO,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1048.341057,1180.272753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Ghana,GHA,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,325.247006,320.389640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,306.314052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2593.835487,2686.376196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,631.919735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,832.572236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
index_list = list(range(3,99))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,3329.410163,...,2987.700589,2777.310987,2764.516671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,410.221516,425.666371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Nauru,NRU,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,306.314052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2593.835487,2686.376196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,631.919735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,832.572236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
index_list = list(range(4,12))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,3329.410163,...,2987.700589,2777.310987,2764.516671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,410.221516,425.666371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Philippines,PHL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,449.294934,470.496654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,306.314052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2593.835487,2686.376196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,631.919735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,832.572236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
index_list = list(range(5,83))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,3329.410163,...,2987.700589,2777.310987,2764.516671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,410.221516,425.666371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Philippines,PHL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,449.294934,470.496654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
header_row = 0
df.columns = df.iloc[header_row]
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,3329.410163,...,2987.700589,2777.310987,2764.516671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,410.221516,425.666371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Philippines,PHL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,449.294934,470.496654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.drop([2],inplace=True)
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,3329.410163,...,2987.700589,2777.310987,2764.516671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,410.221516,425.666371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Philippines,PHL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,449.294934,470.496654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df=df.reset_index()
df

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,...,5468.391369,5334.681679,5483.816402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,...,2987.700589,2777.310987,2764.516671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,...,410.221516,425.666371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,190,Philippines,PHL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,...,449.294934,470.496654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.fillna(0,inplace=True)
df

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,...,5468.391369,5334.681679,5483.816402,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,...,2987.700589,2777.310987,2764.516671,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,0.000000,0.000000,0.000000,0.000000,0.000000,...,410.221516,425.666371,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,190,Philippines,PHL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,0.000000,0.000000,0.000000,0.000000,0.000000,...,449.294934,470.496654,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    display(df)

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,3546.537980,3692.807950,3763.558415,3792.934763,4063.411370,3989.629744,4035.206344,4264.271226,4294.161626,4345.871446,4405.702986,4671.195674,4629.618471,4683.853176,4737.482031,4695.852984,4815.507545,4547.904592,4641.145344,4594.119308,4623.753508,4772.378094,4702.851847,5001.098343,5061.500154,4927.771326,4963.858162,5156.933379,5103.947956,5148.344210,5419.101106,5497.496585,5584.519194,5644.263976,5680.902876,5486.056100,5614.263350,5618.086484,5652.763331,5624.192019,5778.281818,5868.340898,5964.666056,5862.564646,5793.116026,5745.232190,5575.287093,5468.391369,5334.681679,5483.816402,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,84,United Kingdom,GBR,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,3033.050649,3006.747386,3087.341972,3196.831184,3212.534556,3329.410163,3306.781613,3345.553495,3406.144495,3557.129275,3684.952352,3733.282998,3747.962475,3880.650174,3734.841652,3545.817134,3616.975534,3695.383871,3675.435273,3858.975965,3523.648842,3415.377570,3397.122289,3377.904913,3370.524943,3550.783791,3597.944694,3619.077269,3643.006881,3626.297861,3597.051621,3707.951971,3684.724535,3713.185819,3732.521114,3728.963152,3879.822786,3760.712365,3787.108452,3784.074088,3785.753126,3784.928174,3685.869487,3731.609718,3694.478595,3686.359905,3598.810406,3441.640219,3361.980517,3145.585662,3230.615984,2972.153065,3042.859871,2987.700589,2777.310987,2764.516671,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,181,Nepal,NPL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,286.321974,287.957298,290.403025,289.952203,289.069128,287.999470,288.848646,288.562722,291.379949,292.411651,290.571098,291.698589,294.197291,294.560838,290.501090,293.618985,292.754790,293.291319,290.598152,295.116822,296.892386,295.732232,295.473453,298.551335,300.898013,301.663332,305.182405,307.114554,318.110345,330.125410,335.572895,334.256494,339.018346,339.658087,347.406574,344.318903,348.437943,358.375174,366.992365,375.921021,387.599844,369.629838,410.221516,425.666371,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,190,Philippines,PHL,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,398.903631,391.168797,424.927104,416.001552,430.666003,440.148138,446.566270,441.704131,455.295487,462.927203,453.569925,454.018316,481.696548,422.705547,433.527109,423.459537,432.586577,447.099316,459.406314,466.367462,454.756301,464.366116,453.206839,474.409353,485.510235,490.112061,503.220342,505.370958,506.807257,512.967657,480.887218,477.508936,469.163504,458.462649,450.417888,438.777848,431.512191,439.496271,410.843019,426.865434,422.125815,441.229202,449.294934,470.496654,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0