In [1]:
import pandas as pd
df=pd.read_excel("Population growth (annual %).xls")
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-06-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
3,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,...,0.749301,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392
4,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,...,2.780207,2.774990,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.540937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
265,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,...,2.859237,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628
266,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
267,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
268,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [2]:
index_list = list(range(0,2))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
3,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,...,0.749301,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392
4,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.660180,2.732633,2.753248,2.806915,2.840787,...,2.780207,2.774990,2.802586,2.728159,2.655672,2.688371,2.691134,2.678184,2.607472,2.540937
5,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.925952,2.014879,2.078997,2.139651,2.216007,...,3.466788,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498
6,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,NaN,2.115789,2.145723,2.190827,2.211360,2.242567,...,2.761839,2.750731,2.723317,2.713059,2.706266,2.669239,2.633982,2.615646,2.573377,2.539799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
265,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,...,2.859237,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628
266,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
267,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
268,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [3]:
index_list = list(range(1,14))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
17,Austria,AUT,Population growth (annual %),SP.POP.GROW,NaN,0.548472,0.612896,0.642363,0.666548,0.649730,...,0.589387,0.781542,1.120993,1.081396,0.694621,0.487072,0.444674,0.415177,0.435672,0.963775
18,Azerbaijan,AZE,Population growth (annual %),SP.POP.GROW,NaN,3.810165,2.980534,2.964160,3.337155,3.004475,...,1.293447,1.248209,1.191210,1.117857,0.981262,0.866317,0.846647,0.684365,0.441198,0.366922
19,Burundi,BDI,Population growth (annual %),SP.POP.GROW,NaN,2.493352,2.504826,2.081634,2.845300,2.760965,...,3.551108,3.345863,2.188706,1.629025,2.287301,2.983824,3.264249,2.867082,2.672478,2.660161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
265,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,...,2.859237,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628
266,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
267,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
268,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [4]:
index_list = list(range(2,69))
df.drop(df.index[index_list],inplace=True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,NaN,0.760460,0.848661,0.748366,0.650258,0.642469,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
85,Georgia,GEO,Population growth (annual %),SP.POP.GROW,NaN,1.578436,1.519342,1.473022,1.410306,1.316771,...,-0.300972,0.046954,0.157481,0.059817,0.013386,-0.039037,-0.171566,0.068656,-0.379637,0.104890
86,Ghana,GHA,Population growth (annual %),SP.POP.GROW,NaN,2.817753,2.392892,2.402528,2.410339,2.424879,...,2.452427,2.407645,2.364270,2.339383,2.234945,2.122680,2.088931,2.066269,2.007745,1.938983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
265,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,...,2.859237,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628
266,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
267,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
268,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [5]:
index_list = list(range(3,99))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,NaN,0.760460,0.848661,0.748366,0.650258,0.642469,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,NaN,1.920891,1.963890,1.985704,2.020694,2.070000,...,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
182,Nauru,NRU,Population growth (annual %),SP.POP.GROW,NaN,3.664041,4.061158,4.888636,5.356083,5.671257,...,2.365519,2.274296,2.214780,2.228012,2.119548,2.050398,1.729341,1.497144,1.579023,1.247087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
265,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,...,2.859237,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628
266,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
267,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
268,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [6]:
index_list = list(range(4,12))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,NaN,0.760460,0.848661,0.748366,0.650258,0.642469,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,NaN,1.920891,1.963890,1.985704,2.020694,2.070000,...,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
190,Philippines,PHL,Population growth (annual %),SP.POP.GROW,NaN,2.959063,2.834360,2.801870,2.773070,2.747040,...,1.686956,1.616841,1.669830,1.773824,1.761023,1.700248,1.655184,1.626633,1.494557,1.463316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
265,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.862737,1.872291,1.839467,1.920052,2.046198,...,2.859237,2.811072,2.712955,2.621537,2.564321,2.486360,2.426208,2.310447,2.137790,2.144628
266,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.799492,2.978651,3.033440,3.061378,3.091501,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
267,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.156056,3.178563,3.196632,3.194441,3.201590,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
268,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.094865,3.105320,3.115408,3.119878,3.124829,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [7]:
index_list = list(range(5,83))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,NaN,0.760460,0.848661,0.748366,0.650258,0.642469,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,NaN,1.920891,1.963890,1.985704,2.020694,2.070000,...,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
190,Philippines,PHL,Population growth (annual %),SP.POP.GROW,NaN,2.959063,2.834360,2.801870,2.773070,2.747040,...,1.686956,1.616841,1.669830,1.773824,1.761023,1.700248,1.655184,1.626633,1.494557,1.463316

In [8]:
header_row = 0
df.columns = df.iloc[header_row]
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,NaN,0.760460,0.848661,0.748366,0.650258,0.642469,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,NaN,1.920891,1.963890,1.985704,2.020694,2.070000,...,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
190,Philippines,PHL,Population growth (annual %),SP.POP.GROW,NaN,2.959063,2.834360,2.801870,2.773070,2.747040,...,1.686956,1.616841,1.669830,1.773824,1.761023,1.700248,1.655184,1.626633,1.494557,1.463316

In [9]:
df.drop([2],inplace=True)
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,NaN,0.760460,0.848661,0.748366,0.650258,0.642469,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,NaN,1.920891,1.963890,1.985704,2.020694,2.070000,...,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
190,Philippines,PHL,Population growth (annual %),SP.POP.GROW,NaN,2.959063,2.834360,2.801870,2.773070,2.747040,...,1.686956,1.616841,1.669830,1.773824,1.761023,1.700248,1.655184,1.626633,1.494557,1.463316

In [10]:
df=df.reset_index()
df

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,Population growth (annual %),SP.POP.GROW,NaN,1.989740,2.440639,1.917816,1.962354,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
1,84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,NaN,0.760460,0.848661,0.748366,0.650258,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
2,181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,NaN,1.920891,1.963890,1.985704,2.020694,...,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
3,190,Philippines,PHL,Population growth (annual %),SP.POP.GROW,NaN,2.959063,2.834360,2.801870,2.773070,...,1.686956,1.616841,1.669830,1.773824,1.761023,1.700248,1.655184,1.626633,1.494557,1.463316

In [11]:
df.drop([1960.0],inplace=True, axis=1)
df

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,Population growth (annual %),SP.POP.GROW,1.989740,2.440639,1.917816,1.962354,1.959717,...,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
1,84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,0.760460,0.848661,0.748366,0.650258,0.642469,...,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
2,181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,1.920891,1.963890,1.985704,2.020694,2.070000,...,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
3,190,Philippines,PHL,Population growth (annual %),SP.POP.GROW,2.959063,2.834360,2.801870,2.773070,2.747040,...,1.686956,1.616841,1.669830,1.773824,1.761023,1.700248,1.655184,1.626633,1.494557,1.463316

In [12]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    display(df)

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,Population growth (annual %),SP.POP.GROW,1.989740,2.440639,1.917816,1.962354,1.959717,2.283184,1.262277,1.764159,2.093023,1.970189,3.380294,1.838146,1.528817,2.531220,1.231186,1.002658,1.126673,1.162885,1.080642,1.218943,1.561794,1.733744,1.368501,1.200543,1.332097,1.446502,1.521139,1.636149,1.692880,1.480047,1.274622,1.119598,0.889540,0.963092,1.113734,1.213855,1.082040,0.996735,1.093976,1.144473,1.283968,1.137539,1.150193,1.069198,1.217291,1.349451,1.824997,2.003911,2.060833,1.555706,1.389527,1.745820,1.721151,1.491566,1.439217,1.561940,1.653391,1.502993,1.485208,1.235701,0.127728,1.125899
1,84,United Kingdom,GBR,Population growth (annual %),SP.POP.GROW,0.760460,0.848661,0.748366,0.650258,0.642469,0.551303,0.538544,0.486768,0.415803,0.398722,0.417667,0.339058,0.193198,0.063059,-0.007423,-0.024604,-0.032874,0.005360,0.089729,0.119517,0.034822,-0.035843,0.034101,0.158262,0.226951,0.231610,0.212637,0.222064,0.260311,0.298931,0.309248,0.270431,0.239745,0.254586,0.264547,0.254626,0.257553,0.291406,0.333406,0.357301,0.384976,0.423337,0.465641,0.568943,0.686611,0.735049,0.778666,0.787033,0.756391,0.783889,0.781507,0.695353,0.669741,0.736464,0.792368,0.757874,0.679374,0.605929,0.564131,0.365758,-0.081925,-0.081925
2,181,Nepal,NPL,Population growth (annual %),SP.POP.GROW,1.920891,1.963890,1.985704,2.020694,2.070000,2.090077,2.116721,2.151836,2.160731,2.178627,2.164852,2.147827,2.150614,2.153745,2.172281,2.167964,2.221627,2.298669,2.322208,2.346993,2.339969,2.335304,2.378875,2.366811,2.300770,2.234495,2.147046,2.130032,2.241334,2.432697,2.587736,2.798680,2.693672,2.449570,2.316731,2.122071,2.022288,1.933540,1.838553,1.709776,1.601837,1.495833,1.375027,1.242331,1.075359,0.885774,0.731449,0.626510,0.539423,0.496881,0.385214,0.235525,0.185922,0.293748,0.538271,0.904474,1.149954,1.140549,1.136352,1.774268,2.311724,1.692247
3,190,Philippines,PHL,Population growth (annual %),SP.POP.GROW,2.959063,2.834360,2.801870,2.773070,2.747040,2.704140,2.670201,2.645798,2.588785,2.593516,2.600185,2.545889,2.490159,2.401473,2.401824,2.515451,2.660475,2.748701,2.716043,2.647981,2.568538,2.503050,2.484008,2.450169,2.395997,2.338997,2.299748,2.308332,2.307273,2.352971,2.377109,2.357431,2.357658,2.343515,2.337837,2.417459,2.469596,2.409018,2.331450,2.216794,2.116867,2.062678,2.018313,1.987127,1.935756,1.884020,1.870349,1.870432,1.840043,1.801644,1.781659,1.743525,1.686956,1.616841,1.669830,1.773824,1.761023,1.700248,1.655184,1.626633,1.494557,1.463316