# Loading the data into jupyter notebook.

In [12]:
import pandas as pd
df=pd.read_excel('minor roads emission 2010,13&16..xlsx')
df

,Grid_Id,Grid_Id_ExactCut,Location_ExactCut,Borough_ExactCut,Year,Pollutant,Emissions,Emissions Unit,Motorcycle,Taxi,...,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total
0,5910,1,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.789607,0.728706,...,28.659199,0.000000,0.526430,10.919852,0.000000,1.489118,2.730038,6.708603,1.046861,116.889143
1,5911,2,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.518391,0.478272,...,18.816494,0.000000,0.345634,7.169557,0.000000,0.977660,1.792369,4.403879,0.686558,76.742997
2,5912,3,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.795632,0.734195,...,28.882810,0.000000,0.530545,11.005204,0.000000,1.500924,2.751682,6.761137,1.055737,117.802416
3,5915,4,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.787536,0.726727,...,28.564638,0.000000,0.524680,10.883539,0.000000,1.484490,2.721552,6.686387,1.039584,116.501034
4,5916,5,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.710495,0.655763,...,25.790995,0.000000,0.473756,9.827226,0.000000,1.338921,2.454678,6.037218,0.940247,105.185912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100645,10059,3351,Inner,Southwark,2016,PM25_Tyre,COPERT,tonne/year,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,0.000000,0.000001
100646,10059,3352,Central,Southwark,2016,PM25_Tyre,COPERT,tonne/year,0.000507,0.002053,...,0.003905,0.000043,0.000041,0.003240,0.000017,0.000099,0.000338,0.001254,0.000301,0.016392
100647,9714,3353,Central,Camden,2016,PM25_Tyre,COPERT,tonne/year,0.000745,0.002983,...,0.005739,0.000064,0.000062,0.004898,0.000026,0.001292,0.000000,0.001872,0.000449,0.024883
100648,9716,3354,Central,Islington,2016,PM25_Tyre,COPERT,tonne/year,0.000051,0.000200,...,0.000392,0.000004,0.000004,0.000331,0.000002,0.000416,0.000000,0.000130,0.000031,0.002022
100649,9716,3355,Central,City,2016,PM25_Tyre,COPERT,tonne/year,0.000623,0.002459,...,0.004804,0.000054,0.000059,0.004627,0.000025,0.000060,0.000533,0.001706,0.000409,0.021011

# Dropping columns which are not essential.

In [13]:
df.drop(columns=['Grid_Id','Grid_Id_ExactCut'],axis=1 ,inplace=True)
df

,Location_ExactCut,Borough_ExactCut,Year,Pollutant,Emissions,Emissions Unit,Motorcycle,Taxi,Petrol Car,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total
0,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.789607,0.728706,63.290727,28.659199,0.000000,0.526430,10.919852,0.000000,1.489118,2.730038,6.708603,1.046861,116.889143
1,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.518391,0.478272,41.554182,18.816494,0.000000,0.345634,7.169557,0.000000,0.977660,1.792369,4.403879,0.686558,76.742997
2,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.795632,0.734195,63.784549,28.882810,0.000000,0.530545,11.005204,0.000000,1.500924,2.751682,6.761137,1.055737,117.802416
3,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.787536,0.726727,63.081901,28.564638,0.000000,0.524680,10.883539,0.000000,1.484490,2.721552,6.686387,1.039584,116.501034
4,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.710495,0.655763,56.956611,25.790995,0.000000,0.473756,9.827226,0.000000,1.338921,2.454678,6.037218,0.940247,105.185912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100645,Inner,Southwark,2016,PM25_Tyre,COPERT,tonne/year,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,0.000000,0.000001
100646,Central,Southwark,2016,PM25_Tyre,COPERT,tonne/year,0.000507,0.002053,0.004595,0.003905,0.000043,0.000041,0.003240,0.000017,0.000099,0.000338,0.001254,0.000301,0.016392
100647,Central,Camden,2016,PM25_Tyre,COPERT,tonne/year,0.000745,0.002983,0.006754,0.005739,0.000064,0.000062,0.004898,0.000026,0.001292,0.000000,0.001872,0.000449,0.024883
100648,Central,Islington,2016,PM25_Tyre,COPERT,tonne/year,0.000051,0.000200,0.000461,0.000392,0.000004,0.000004,0.000331,0.000002,0.000416,0.000000,0.000130,0.000031,0.002022
100649,Central,City,2016,PM25_Tyre,COPERT,tonne/year,0.000623,0.002459,0.005653,0.004804,0.000054,0.000059,0.004627,0.000025,0.000060,0.000533,0.001706,0.000409,0.021011

# Renaming inccorect column name.

In [14]:
df=df.rename(columns={'Total': 'Total PM 2.5 Emission'})
df

,Location_ExactCut,Borough_ExactCut,Year,Pollutant,Emissions,Emissions Unit,Motorcycle,Taxi,Petrol Car,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total PM 2.5 Emission
0,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.789607,0.728706,63.290727,28.659199,0.000000,0.526430,10.919852,0.000000,1.489118,2.730038,6.708603,1.046861,116.889143
1,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.518391,0.478272,41.554182,18.816494,0.000000,0.345634,7.169557,0.000000,0.977660,1.792369,4.403879,0.686558,76.742997
2,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.795632,0.734195,63.784549,28.882810,0.000000,0.530545,11.005204,0.000000,1.500924,2.751682,6.761137,1.055737,117.802416
3,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.787536,0.726727,63.081901,28.564638,0.000000,0.524680,10.883539,0.000000,1.484490,2.721552,6.686387,1.039584,116.501034
4,NonGLA,NonGLA,2010,CO2,DFT,tonne/year,0.710495,0.655763,56.956611,25.790995,0.000000,0.473756,9.827226,0.000000,1.338921,2.454678,6.037218,0.940247,105.185912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100645,Inner,Southwark,2016,PM25_Tyre,COPERT,tonne/year,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,0.000000,0.000001
100646,Central,Southwark,2016,PM25_Tyre,COPERT,tonne/year,0.000507,0.002053,0.004595,0.003905,0.000043,0.000041,0.003240,0.000017,0.000099,0.000338,0.001254,0.000301,0.016392
100647,Central,Camden,2016,PM25_Tyre,COPERT,tonne/year,0.000745,0.002983,0.006754,0.005739,0.000064,0.000062,0.004898,0.000026,0.001292,0.000000,0.001872,0.000449,0.024883
100648,Central,Islington,2016,PM25_Tyre,COPERT,tonne/year,0.000051,0.000200,0.000461,0.000392,0.000004,0.000004,0.000331,0.000002,0.000416,0.000000,0.000130,0.000031,0.002022
100649,Central,City,2016,PM25_Tyre,COPERT,tonne/year,0.000623,0.002459,0.005653,0.004804,0.000054,0.000059,0.004627,0.000025,0.000060,0.000533,0.001706,0.000409,0.021011

In [4]:
df.columns

Index(['Location_ExactCut', 'Borough_ExactCut', 'Year', 'Pollutant',
       'Emissions', 'Emissions Unit', 'Motorcycle', 'Taxi', 'Petrol Car',
       'Diesel Car', 'Electric Car', 'Petrol LGV', 'Diesel LGV',
       'Electric LGV', 'TfL Bus', 'Non-TfL Bus and Coach', 'Rigid HGV',
       'Artic HGV', 'Total PM 2.5 Emission'],
      dtype='object')

In [5]:
data_with_index = df.set_index("Pollutant")
data_with_index.head()

,Location_ExactCut,Borough_ExactCut,Year,Emissions,Emissions Unit,Motorcycle,Taxi,Petrol Car,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total PM 2.5 Emission
Pollutant,,,,,,,,,,,,,,,,,,
CO2,NonGLA,NonGLA,2010,DFT,tonne/year,0.789607,0.728706,63.290727,28.659199,0.0,0.526430,10.919852,0.0,1.489118,2.730038,6.708603,1.046861,116.889143
CO2,NonGLA,NonGLA,2010,DFT,tonne/year,0.518391,0.478272,41.554182,18.816494,0.0,0.345634,7.169557,0.0,0.977660,1.792369,4.403879,0.686558,76.742997
CO2,NonGLA,NonGLA,2010,DFT,tonne/year,0.795632,0.734195,63.784549,28.882810,0.0,0.530545,11.005204,0.0,1.500924,2.751682,6.761137,1.055737,117.802416
CO2,NonGLA,NonGLA,2010,DFT,tonne/year,0.787536,0.726727,63.081901,28.564638,0.0,0.524680,10.883539,0.0,1.484490,2.721552,6.686387,1.039584,116.501034
CO2,NonGLA,NonGLA,2010,DFT,tonne/year,0.710495,0.655763,56.956611,25.790995,0.0,0.473756,9.827226,0.0,1.338921,2.454678,6.037218,0.940247,105.185912

In [6]:
data_with_index = data_with_index.drop(["CO2", "PM10_Tyre", "NOx","PM10_Brake","PM10_Exhaust","PM10_Resusp","PM25_Resusp"])
data_with_index

,Location_ExactCut,Borough_ExactCut,Year,Emissions,Emissions Unit,Motorcycle,Taxi,Petrol Car,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total PM 2.5 Emission
Pollutant,,,,,,,,,,,,,,,,,,
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000064,0.000059,0.005894,0.002905,0.000000,0.000064,0.001482,0.000000,0.000159,0.000192,0.000598,0.000066,0.011484
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000042,0.000039,0.003870,0.001907,0.000000,0.000042,0.000973,0.000000,0.000104,0.000126,0.000393,0.000044,0.007540
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000065,0.000059,0.005940,0.002928,0.000000,0.000064,0.001493,0.000000,0.000160,0.000194,0.000603,0.000067,0.011574
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000064,0.000059,0.005875,0.002896,0.000000,0.000063,0.001477,0.000000,0.000159,0.000192,0.000596,0.000066,0.011446
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000058,0.000053,0.005305,0.002614,0.000000,0.000057,0.001333,0.000000,0.000143,0.000173,0.000538,0.000060,0.010334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PM25_Tyre,Inner,Southwark,2016,COPERT,tonne/year,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,0.000000,0.000001
PM25_Tyre,Central,Southwark,2016,COPERT,tonne/year,0.000507,0.002053,0.004595,0.003905,0.000043,0.000041,0.003240,0.000017,0.000099,0.000338,0.001254,0.000301,0.016392
PM25_Tyre,Central,Camden,2016,COPERT,tonne/year,0.000745,0.002983,0.006754,0.005739,0.000064,0.000062,0.004898,0.000026,0.001292,0.000000,0.001872,0.000449,0.024883
PM25_Tyre,Central,Islington,2016,COPERT,tonne/year,0.000051,0.000200,0.000461,0.000392,0.000004,0.000004,0.000331,0.000002,0.000416,0.000000,0.000130,0.000031,0.002022
PM25_Tyre,Central,City,2016,COPERT,tonne/year,0.000623,0.002459,0.005653,0.004804,0.000054,0.000059,0.004627,0.000025,0.000060,0.000533,0.001706,0.000409,0.021011

In [7]:
new_df=data_with_index

In [19]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30195 entries, PM25_Brake to PM25_Tyre
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location_ExactCut      30195 non-null  object
 1   Borough_ExactCut       30195 non-null  object
 2   Year                   30195 non-null  int64
 3   Emissions              30195 non-null  object
 4   Emissions Unit         30195 non-null  object
 5   Motorcycle             30195 non-null  float64
 6   Taxi                   30195 non-null  float64
 7   Petrol Car             30195 non-null  float64
 8   Diesel Car             30195 non-null  float64
 9   Electric Car           30195 non-null  float64
 10  Petrol LGV             30195 non-null  float64
 11  Diesel LGV             30195 non-null  float64
 12  Electric LGV           30195 non-null  float64
 13  TfL Bus                30195 non-null  float64
 14  Non-TfL Bus and Coach  30195 non-null  float64
 15  Rigid HGV              30195 non-null  float64
 16  Artic HGV              30195 non-null  float64
 17  Total PM 2.5 Emission  30195 non-null  float64
dtypes: float64(13), int64(1), object(4)
memory usage: 4.4+ MB

In [20]:
new_df.columns

Index(['Location_ExactCut', 'Borough_ExactCut', 'Year', 'Emissions',
       'Emissions Unit', 'Motorcycle', 'Taxi', 'Petrol Car', 'Diesel Car',
       'Electric Car', 'Petrol LGV', 'Diesel LGV', 'Electric LGV', 'TfL Bus',
       'Non-TfL Bus and Coach', 'Rigid HGV', 'Artic HGV',
       'Total PM 2.5 Emission'],
      dtype='object')

In [21]:
#sums up total null values of columns
new_df.isna().sum()

Location_ExactCut        0
Borough_ExactCut         0
Year                     0
Emissions                0
Emissions Unit           0
Motorcycle               0
Taxi                     0
Petrol Car               0
Diesel Car               0
Electric Car             0
Petrol LGV               0
Diesel LGV               0
Electric LGV             0
TfL Bus                  0
Non-TfL Bus and Coach    0
Rigid HGV                0
Artic HGV                0
Total PM 2.5 Emission    0
dtype: int64

In [10]:
new_df.head()

,Location_ExactCut,Borough_ExactCut,Year,Emissions,Emissions Unit,Motorcycle,Taxi,Petrol Car,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total PM 2.5 Emission
Pollutant,,,,,,,,,,,,,,,,,,
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000064,0.000059,0.005894,0.002905,0.0,0.000064,0.001482,0.0,0.000159,0.000192,0.000598,0.000066,0.011484
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000042,0.000039,0.003870,0.001907,0.0,0.000042,0.000973,0.0,0.000104,0.000126,0.000393,0.000044,0.007540
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000065,0.000059,0.005940,0.002928,0.0,0.000064,0.001493,0.0,0.000160,0.000194,0.000603,0.000067,0.011574
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000064,0.000059,0.005875,0.002896,0.0,0.000063,0.001477,0.0,0.000159,0.000192,0.000596,0.000066,0.011446
PM25_Brake,NonGLA,NonGLA,2010,COPERT,tonne/year,0.000058,0.000053,0.005305,0.002614,0.0,0.000057,0.001333,0.0,0.000143,0.000173,0.000538,0.000060,0.010334

In [11]:
new_df.tail()

,Location_ExactCut,Borough_ExactCut,Year,Emissions,Emissions Unit,Motorcycle,Taxi,Petrol Car,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total PM 2.5 Emission
Pollutant,,,,,,,,,,,,,,,,,,
PM25_Tyre,Inner,Southwark,2016,COPERT,tonne/year,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,0.000000,0.000001
PM25_Tyre,Central,Southwark,2016,COPERT,tonne/year,0.000507,0.002053,0.004595,0.003905,0.000043,0.000041,0.003240,0.000017,0.000099,0.000338,0.001254,0.000301,0.016392
PM25_Tyre,Central,Camden,2016,COPERT,tonne/year,0.000745,0.002983,0.006754,0.005739,0.000064,0.000062,0.004898,0.000026,0.001292,0.000000,0.001872,0.000449,0.024883
PM25_Tyre,Central,Islington,2016,COPERT,tonne/year,0.000051,0.000200,0.000461,0.000392,0.000004,0.000004,0.000331,0.000002,0.000416,0.000000,0.000130,0.000031,0.002022
PM25_Tyre,Central,City,2016,COPERT,tonne/year,0.000623,0.002459,0.005653,0.004804,0.000054,0.000059,0.004627,0.000025,0.000060,0.000533,0.001706,0.000409,0.021011

In [23]:
new_df.describe()

,Year,Motorcycle,Taxi,Petrol Car,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Rigid HGV,Artic HGV,Total PM 2.5 Emission
count,30195.00000,30195.000000,30195.000000,30195.000000,30195.000000,30195.000000,30195.000000,30195.000000,30195.000000,3.019500e+04,30195.000000,30195.000000,30195.000000,30195.000000
mean,2013.00000,0.000198,0.000350,0.006850,0.006656,0.000007,0.000050,0.003353,0.000002,6.728246e-04,0.000409,0.001171,0.000156,0.019874
std,2.44953,0.000312,0.001132,0.009498,0.007048,0.000017,0.000085,0.003779,0.000004,2.479002e-03,0.000793,0.001594,0.000189,0.021672
min,2010.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,2010.00000,0.000024,0.000026,0.000641,0.001120,0.000000,0.000003,0.000535,0.000000,2.578211e-08,0.000000,0.000139,0.000025,0.003288
50%,2013.00000,0.000092,0.000105,0.002628,0.004194,0.000000,0.000015,0.002013,0.000000,4.584893e-05,0.000091,0.000561,0.000092,0.012483
75%,2016.00000,0.000265,0.000315,0.009419,0.009964,0.000005,0.000058,0.004875,0.000001,3.663209e-04,0.000406,0.001547,0.000219,0.028546
max,2016.00000,0.006475,0.036213,0.076354,0.051548,0.000238,0.000831,0.032946,0.000095,8.498240e-02,0.011777,0.025027,0.003098,0.152419